/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #fff;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
}

.search-button {
  padding: 10px;
  background-color: #444;
  border: none;
  border-radius: 0 5px 5px 0;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #666;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.image-container {
  position: relative;
}

.item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
}

.item:hover {
  transform: scale(1.05);
}

.download-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-container:hover .download-overlay {
  opacity: 1;
}

.download-button {
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  color: #222;
  cursor: pointer;
  transition: background-color 0.3s;
}

.download-button:hover {
  background-color: #ddd;
}

.fa-search,
.fa-download {
  margin-right: 5px;
}
.search-container{
  justify-content: space-around;

}